 <footer class="u-clearfix u-footer u-grey-80" id="sec-69cd">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a
          href="https://gfinteriors.in/"
          class="u-image u-logo u-image-1"
          data-image-width="1393"
          data-image-height="925"
          title="Golden Frame"
        >
          <img
            src="images/gfinteriorslogoLettersBright.png"
            class="u-logo-image u-logo-image-1"
          />
        </a>
        <nav
          class="u-menu u-menu-one-level u-offcanvas u-menu-1"
          data-responsive-from="SM"
        >
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#menu-hamburger"
                ></use>
              </svg>
              <svg
                class="u-svg-content"
                version="1.1"
                id="menu-hamburger"
                viewBox="0 0 16 16"
                x="0px"
                y="0px"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link" href="Home.html">Home</a>
              </li>
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link" href="About.html">About</a>
              </li>
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link" href="Services.html"
                  >Services</a
                >
              </li>
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link" href="Gallery.html"
                  >Gallery</a
                >
              </li>
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link" href="Contact.html"
                  >Contact</a
                >
              </li>
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link" href="/admin">Login</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div
              class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav"
            >
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul
                  class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"
                >
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="Home.html"
                      >Home</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="About.html"
                      >About</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="Services.html"
                      >Services</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="admin/gallery"
                      >Gallery</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="Contact.html"
                      >Contact</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="Blog.html"
                      >Login</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-align-left u-text u-text-default u-text-1">
          <a
            class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1"
            href="https://phoenixpro.in/"
            target="_blank"
            >Designed by Phoenix</a
          >
        </p>
      </div>
    </footer>