 <link rel="stylesheet" href="About.css"  />
 {{!-- <link rel="stylesheet" href="style.css" media="screen" />
 <link rel="stylesheet" href="nicepage.js" media="screen" />
 <link rel="stylesheet" href="nicepage.css" media="screen" />
 <link rel="stylesheet" href="jquery.js" media="screen" /> --}}
    <section
      class="u-align-center u-clearfix u-image u-shading u-section-1"
      src=""
      data-image-width="1876"
      data-image-height="1250"
      id="sec-3dde"
    >
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">
          ABOUT GOLDEN FRAMES INTERIORS
        </h1>
        <p class="u-large-text u-text u-text-default u-text-variant u-text-2">
          Golden Frame Interiors shares twelve years of success stories through
          thousands of satisfied customers. We are always here to fill your
          dream interior colourful. Uncompromised quality in products and
          service made us unique every time.&nbsp;&nbsp;
        </p>
        <a
          href="#sec-6627"
          class="u-border-none u-btn u-button-style u-dialog-link u-palette-1-base u-btn-1"
          >Contact Us</a
        >
      </div>
    </section>
    <section
      class="u-clearfix u-image u-section-2"
      id="sec-cfa5"
      data-image-width="750"
      data-image-height="518"
    >
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div
                class="u-align-left u-container-style u-layout-cell u-size-30 u-white u-layout-cell-1"
              >
                <div
                  class="u-container-layout u-valign-middle u-container-layout-1"
                >
                  <div class="u-expanded-width u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                      <div
                        class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1"
                      >
                        <div
                          class="u-container-layout u-similar-container u-valign-middle u-container-layout-2"
                        >
                          <span
                            class="u-file-icon u-icon u-text-palette-1-base u-icon-1"
                            ><img
                              src="images/ce131fa2-9b26-4c33-a9f7-aff3357242a7-36.png"
                              alt=""
                          /></span>
                          <h5 class="u-text u-text-1">Call Us</h5>
                          <p class="u-text u-text-2">
                            <a
                              class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1"
                              href="tel:917592085608"
                            >
                              +917592085608</a
                            >
                          </p>
                        </div>
                      </div>
                      <div
                        class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2"
                      >
                        <div
                          class="u-container-layout u-similar-container u-valign-middle u-container-layout-3"
                        >
                          <span
                            class="u-file-icon u-icon u-text-palette-1-base u-icon-2"
                            ><img src="images/3670051-34.png" alt=""
                          /></span>
                          <h5 class="u-text u-text-3">Whatsapp</h5>
                          <p class="u-text u-text-4">
                            <a
                              class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2"
                              href="https://wa.me/919995188314"
                              target="_blank"
                            >
                              +91 9995188314</a
                            >
                          </p>
                        </div>
                      </div>
                      <div
                        class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3"
                      >
                        <div
                          class="u-container-layout u-similar-container u-valign-middle u-container-layout-4"
                        >
                          <span
                            class="u-file-icon u-icon u-text-palette-1-base u-icon-3"
                            ><img src="images/542689-35.png" alt=""
                          /></span>
                          <h5 class="u-text u-text-5">Email</h5>
                          <p class="u-text u-text-6">
                            <a
                              class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3"
                              href="mailto:gfinteriorsekm@gmail.com"
                            >
                              gfinteriorsekm@gmail.com</a
                            >
                          </p>
                        </div>
                      </div>
                      <div
                        class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-4"
                      >
                        <div
                          class="u-container-layout u-similar-container u-valign-middle u-container-layout-5"
                        >
                          <span
                            class="u-file-icon u-icon u-text-palette-1-base u-icon-4"
                            ><img src="images/450016-33.png" alt=""
                          /></span>
                          <h5 class="u-text u-text-7">Location</h5>
                          <p class="u-text u-text-8">
                            Door number: 92C/ St Rita's convent Lane, Varapuzha,
                            Ernakulam, 683517
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="u-align-center u-container-style u-grey-5 u-layout-cell u-size-30 u-layout-cell-2"
                data-animation-name=""
                data-animation-duration="0"
                data-animation-delay="0"
                data-animation-direction=""
              >
                <div
                  class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-6"
                >
                  <div class="u-align-left u-form u-form-1">
                    <form
                      action="./scripts/form-82b7-cfa5.php"
                      class="u-clearfix u-form-spacing-28 u-form-vertical u-inner-form"
                      style="padding: 0px"
                      source="customphp"
                      name="form"
                    >
                      <div
                        class="u-form-group u-form-name u-form-partition-factor-2"
                      >
                        <label
                          for="name-5a14"
                          class="u-form-control-hidden u-label"
                          wfd-invisible="true"
                          >Name</label
                        >
                        <input
                          type="text"
                          placeholder="Enter your Name"
                          id="name-5a14"
                          name="name"
                          class="u-border-none u-input u-input-rectangle"
                          required=""
                        />
                      </div>
                      <div
                        class="u-form-email u-form-group u-form-partition-factor-2"
                      >
                        <label
                          for="email-5a14"
                          class="u-form-control-hidden u-label"
                          wfd-invisible="true"
                          >Email</label
                        >
                        <input
                          type="email"
                          placeholder="Enter a valid email address"
                          id="email-5a14"
                          name="email"
                          class="u-border-none u-input u-input-rectangle"
                          required=""
                        />
                      </div>
                      <div class="u-form-group u-form-message">
                        <label
                          for="message-5a14"
                          class="u-form-control-hidden u-label"
                          wfd-invisible="true"
                          >Message</label
                        >
                        <textarea
                          placeholder=""
                          rows="4"
                          cols="50"
                          id="message-5a14"
                          name="message"
                          class="u-border-none u-input u-input-rectangle"
                          required=""
                        ></textarea>
                      </div>
                      <div class="u-form-agree u-form-group">
                        <label
                          class="u-block-d00d-45 u-field-label"
                          style=""
                        ></label>
                        <input
                          type="checkbox"
                          id="agree-5f06"
                          name="agree"
                          class="u-agree-checkbox u-field-input"
                          required=""
                        />
                        <label
                          for="agree-5f06"
                          class="u-agree-label u-field-label"
                          >I accept the
                          <a
                            class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4"
                            href="#"
                            >Terms of Service</a
                          >
                        </label>
                      </div>
                      <div class="u-align-left u-form-group u-form-submit">
                        <a
                          href="#"
                          class="u-active-black u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-black u-palette-3-base u-radius-50 u-btn-5"
                          >Submit</a
                        >
                        <input
                          type="submit"
                          value="submit"
                          class="u-form-control-hidden"
                          wfd-invisible="true"
                        />
                      </div>
                      <div
                        class="u-form-send-message u-form-send-success"
                        wfd-invisible="true"
                      >
                        Thank you! Your message has been sent.
                      </div>
                      <div
                        class="u-form-send-error u-form-send-message"
                        wfd-invisible="true"
                      >
                        Unable to send your message. Please fix errors then try
                        again.
                      </div>
                      <input
                        type="hidden"
                        value=""
                        name="recaptchaResponse"
                        wfd-invisible="true"
                      />
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-middle-lg u-valign-middle-xl u-dialog-section-5"
      id="sec-6627"
      data-dialog-show-on="click"
      data-dialog-show-interval="1000"
    >
      <div
        class="u-align-left u-container-style u-dialog u-shape-rectangle u-white u-dialog-1"
      >
        <div
          class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-top-xs u-container-layout-1"
        >
          <img
            class="u-expand-resize u-expanded-width-xs u-image u-image-1"
            data-image-width="950"
            data-image-height="525"
            src="images/Modern_Interior_design_company_in_Kochi_9.jpg"
          />
          <h3 class="u-text u-text-1">Get a Free Quote Today</h3>
          <p class="u-text u-text-2">
            Please Fill the below details to get your free quote
          </p>
          <div class="u-form u-form-1">
            <form
              action="./scripts/form-6627.php"
              class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
              style="padding: 0px"
              source="customphp"
              name="form"
            >
              <div class="u-form-group u-form-name">
                <label for="name-31f5" class="u-form-control-hidden u-label"
                  >Name</label
                >
                <input
                  type="text"
                  placeholder="Enter your Name"
                  id="name-31f5"
                  name="name"
                  class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle"
                  required=""
                />
              </div>
              <div class="u-form-email u-form-group">
                <label for="email-31f5" class="u-form-control-hidden u-label"
                  >Email</label
                >
                <input
                  type="email"
                  placeholder="Enter a valid email address"
                  id="email-31f5"
                  name="email"
                  class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle"
                  required=""
                />
              </div>
              <div class="u-form-group u-form-message">
                <label for="message-31f5" class="u-form-control-hidden u-label"
                  >Message</label
                >
                <textarea
                  placeholder="Enter your message"
                  rows="4"
                  cols="50"
                  id="message-31f5"
                  name="message"
                  class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle"
                ></textarea>
              </div>
              <div class="u-align-left u-form-group u-form-submit">
                <a
                  href="#"
                  class="u-black u-btn u-btn-submit u-button-style u-btn-1"
                  >Submit</a
                >
                <input
                  type="submit"
                  value="submit"
                  class="u-form-control-hidden"
                />
              </div>
              <div class="u-form-send-message u-form-send-success">
                Thank you! Your message has been sent.
              </div>
              <div class="u-form-send-error u-form-send-message">
                Unable to send your message. Please fix errors then try again.
              </div>
              <input type="hidden" value="" name="recaptchaResponse" />
            </form>
          </div>
        </div>
        <button class="u-dialog-close-button u-icon u-text-grey-50 u-icon-1">
          <svg
            class="u-svg-link"
            preserveAspectRatio="xMidYMin slice"
            viewBox="0 0 409.806 409.806"
            style=""
          >
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="#svg-4e2d"
            ></use>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            xml:space="preserve"
            class="u-svg-content"
            viewBox="0 0 409.806 409.806"
            x="0px"
            y="0px"
            id="svg-4e2d"
            style="enable-background: new 0 0 409.806 409.806"
          >
            <g>
              <g>
                <path
                  d="M228.929,205.01L404.596,29.343c6.78-6.548,6.968-17.352,0.42-24.132c-6.548-6.78-17.352-6.968-24.132-0.42    c-0.142,0.137-0.282,0.277-0.42,0.42L204.796,180.878L29.129,5.21c-6.78-6.548-17.584-6.36-24.132,0.42    c-6.388,6.614-6.388,17.099,0,23.713L180.664,205.01L4.997,380.677c-6.663,6.664-6.663,17.468,0,24.132    c6.664,6.662,17.468,6.662,24.132,0l175.667-175.667l175.667,175.667c6.78,6.548,17.584,6.36,24.132-0.42    c6.387-6.614,6.387-17.099,0-23.712L228.929,205.01z"
                ></path>
              </g>
            </g>
          </svg>
        </button>
      </div>
    </section>
      <footer class="u-clearfix u-footer u-grey-80" id="sec-69cd">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a
          href="https://gfinteriors.in/"
          class="u-image u-logo u-image-1"
          data-image-width="1393"
          data-image-height="925"
          title="Golden Frame"
        >
          <img
            src="images/gfinteriorslogoLettersBright.png"
            class="u-logo-image u-logo-image-1"
          />
        </a>
        <nav
          class="u-menu u-menu-one-level u-offcanvas u-menu-1"
          data-responsive-from="SM"
        >
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#menu-hamburger"
                ></use>
              </svg>
              <svg
                class="u-svg-content"
                version="1.1"
                id="menu-hamburger"
                viewBox="0 0 16 16"
                x="0px"
                y="0px"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link" href="/">Home</a>
              </li>
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link" href="/About">About</a>
              </li>
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link" href="/Services"
                  >Services</a
                >
              </li>
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link" href="/Gallery"
                  >Gallery</a
                >
              </li>
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link" href="/Contact"
                  >Contact</a
                >
              </li>
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link" href="/admin">Login</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div
              class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav"
            >
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul
                  class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"
                >
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="/"
                      >Home</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="About.html"
                      >About</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="Services.html"
                      >Services</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="admin/gallery"
                      >Gallery</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="Contact.html"
                      >Contact</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="Blog.html"
                      >Login</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-align-left u-text u-text-default u-text-1">
          <a
            class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1"
            href="https://phoenixpro.in/"
            target="_blank"
            >Designed by Phoenix</a
          >
        </p>
      </div>
    </footer>
    <style>
      .u-dialog-section-5 .u-dialog-1 {
        width: 800px;
        min-height: 529px;
        background-image: none;
        margin: 60px auto;
      }

      .u-dialog-section-5 .u-container-layout-1 {
        padding: 45px 30px 30px;
      }

      .u-dialog-section-5 .u-image-1 {
        width: 348px;
        height: 454px;
        margin: 0 0 0 auto;
      }

      .u-dialog-section-5 .u-text-1 {
        margin: -454px 378px 0 0;
      }

      .u-dialog-section-5 .u-text-2 {
        margin: 20px 378px 0 0;
      }

      .u-dialog-section-5 .u-form-1 {
        height: 293px;
        margin: 30px 378px 40px 0;
      }

      .u-dialog-section-5 .u-btn-1 {
        background-image: none;
        border-style: none;
        text-transform: uppercase;
      }

      .u-dialog-section-5 .u-icon-1 {
        width: 16px;
        height: 16px;
        left: auto;
        top: 14px;
        position: absolute;
        right: 14px;
      }

      @media (max-width: 1199px) {
        .u-dialog-section-5 .u-dialog-1 {
          height: auto;
        }
      }

      @media (max-width: 991px) {
        .u-dialog-section-5 .u-dialog-1 {
          width: 720px;
          min-height: 533px;
          margin-top: 138px;
        }

        .u-dialog-section-5 .u-container-layout-1 {
          padding-top: 29px;
        }

        .u-dialog-section-5 .u-image-1 {
          width: 330px;
        }

        .u-dialog-section-5 .u-text-1 {
          width: auto;
          margin-right: 360px;
        }

        .u-dialog-section-5 .u-text-2 {
          width: auto;
          margin-top: 17px;
          margin-right: 360px;
        }

        .u-dialog-section-5 .u-form-1 {
          margin-right: 360px;
          margin-bottom: 3px;
        }
      }

      @media (max-width: 767px) {
        .u-dialog-section-5 .u-dialog-1 {
          width: 540px;
          min-height: 548px;
          margin-top: 124px;
        }

        .u-dialog-section-5 .u-container-layout-1 {
          padding-top: 45px;
          padding-left: 25px;
          padding-right: 25px;
        }

        .u-dialog-section-5 .u-image-1 {
          width: 170px;
          height: 464px;
        }

        .u-dialog-section-5 .u-text-1 {
          margin-top: -464px;
          margin-right: 190px;
        }

        .u-dialog-section-5 .u-text-2 {
          margin-top: 30px;
          margin-right: 190px;
        }

        .u-dialog-section-5 .u-form-1 {
          margin-right: 190px;
          margin-bottom: 0;
        }
      }

      @media (max-width: 575px) {
        .u-dialog-section-5 .u-dialog-1 {
          width: 340px;
          min-height: 736px;
          margin-top: 33px;
          margin-bottom: 57px;
        }

        .u-dialog-section-5 .u-container-layout-1 {
          padding-left: 20px;
          padding-right: 20px;
        }

        .u-dialog-section-5 .u-image-1 {
          height: 174px;
          margin-right: initial;
          margin-left: initial;
          width: auto;
        }

        .u-dialog-section-5 .u-text-1 {
          margin-top: 27px;
          margin-right: 0;
        }

        .u-dialog-section-5 .u-text-2 {
          margin-right: 0;
        }

        .u-dialog-section-5 .u-form-1 {
          width: 300px;
          margin-right: 0;
        }
      }

      
    </style>
 