<!DOCTYPE html>
<html style="font-size: 16px;" lang="en-IN"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="interior design companies in kochi, interior design company in kochi, interior designing firms in kochi, interior design companies in kerala, interior design companies in ernakulam">
    <meta name="description" content="See the fabulous design projects from Golden Frame Interiors">
    <title>Gallery - See our glorious projects</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Gallery.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <link rel="icon" href="images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Golden Frames Interiors",
		"logo": "images/logo.png"
}</script>
    <meta name="theme-color" content="#ff8700">
    <meta property="og:title" content="Gallery - See our glorious projects">
    <meta property="og:description" content="See the fabulous design projects from Golden Frame Interiors">
    <meta property="og:type" content="website">
  <meta charset="UTF-8">
  <meta name="description" content="personalized Interior Design in Cochin from Golden Frame Interiors.">
  <meta name="keywords" content="interior design companies in kochi, interior design company in kochi, interior design companies in ernakulam">
  <meta name="author" content="Golden Frames">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:image" content="http://gfinteriors.in/images/logo.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1024">
<meta property="og:image:height" content="1024"><meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-5ef1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a
          href="https://gfinteriors.in/"
          class="u-image u-logo u-image-1"
          data-image-width="1393"
          data-image-height="925"
          title="Golden Frame"
        >
          <img src="images/logo.png" class="u-logo-image u-logo-image-1" />
        </a>
        <nav
          class="u-menu u-menu-dropdown u-offcanvas u-menu-1"
          data-responsive-from="MD"
        >
          <div
            class="menu-collapse"
            style="
              font-size: 1rem;
              letter-spacing: 0px;
              font-weight: 700;
              text-transform: uppercase;
            "
          >
            <a
              class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
              href="#"
            >
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#menu-hamburger"
                ></use>
              </svg>
              <svg
                class="u-svg-content"
                version="1.1"
                id="menu-hamburger"
                viewBox="0 0 16 16"
                x="0px"
                y="0px"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
              <li class="u-nav-item">
                <a
                  class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                  href="/"
                  style="padding: 10px 0px "
                  >Home</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                  href="/about"
                  style="padding: 10px 0px"
                  >About</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                  href="/services"
                  target="_blank"
                  style="padding: 10px 0px"
                  >Services</a
                >
                <div class="u-nav-popup">
                  <ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10">
                    <li class="u-nav-item">
                      <a
                        class="u-button-style u-nav-link u-palette-1-base"
                        href="/Kitchen"
                        >Kitchen cabinets</a
                      >
                    </li>
                    <li class="u-nav-item">
                      <a
                        class="u-button-style u-nav-link u-palette-1-base"
                        href="/Wardrobes"
                        >Wardrobes</a
                      >
                    </li>
                    <li class="u-nav-item">
                      <a
                        class="u-button-style u-nav-link u-palette-1-base"
                        href="/TV-units"
                        >TV units</a
                      >
                    </li>
                    <li class="u-nav-item">
                      <a
                        class="u-button-style u-nav-link u-palette-1-base"
                        href="/Customised-furniture"
                        >Customised furniture</a
                      >
                    </li>
                    <li class="u-nav-item">
                      <a
                        class="u-button-style u-nav-link u-palette-1-base"
                        href="/Office-Interior"
                        >Office Interior</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
              <li class="u-nav-item">
                <a
                  class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                  href="/gallery"
                  style="padding: 10px 0px"
                  >Gallery</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                  href="/Testimonials"
                  style="padding: 10px 0px"
                  >Testimonials</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                  href="/Blog"
                  style="padding: 10px 0px"
                  >Blog</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"
                  href="/Contact"
                  style="padding: 10px 0px"
                  >Contact</a
                >
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div
              class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav"
            >
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul
                  class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3"
                >
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="/"
                      >Home</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="/About"
                      >About</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a
                      class="u-button-style u-nav-link"
                      href="/Services"
                      target="_blank"
                      >Services</a
                    >
                    <div class="u-nav-popup">
                      <ul
                        class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10"
                      >
                        <li class="u-nav-item">
                          <a
                            class="u-button-style u-nav-link u-palette-1-base"
                            href="/Kitchen"
                            >Kitchen cabinets</a
                          >
                        </li>
                        <li class="u-nav-item">
                          <a
                            class="u-button-style u-nav-link u-palette-1-base"
                            href="/Wardrobes"
                            >Wardrobes</a
                          >
                        </li>
                        <li class="u-nav-item">
                          <a
                            class="u-button-style u-nav-link u-palette-1-base"
                            href="/TV-units"
                            >TV units</a
                          >
                        </li>
                        <li class="u-nav-item">
                          <a
                            class="u-button-style u-nav-link u-palette-1-base"
                            href="/Customised-furniture"
                            >Customised furniture</a
                          >
                        </li>
                        <li class="u-nav-item">
                          <a
                            class="u-button-style u-nav-link u-palette-1-base"
                            href="/Office-Interior"
                            >Office Interior</a
                          >
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="/gallery"
                      >Gallery</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a
                      class="u-button-style u-nav-link"
                      href="/Testimonials"
                      >Testimonials</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="/Blog"
                      >Blog</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="/Contact"
                      >Contact</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="750" data-image-height="518" id="sec-f95b">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-align-center-xs u-text u-text-default u-title u-text-1">Gallery</h1>
        <p class="u-large-text u-text u-text-variant u-text-2">See Our Prestigious Projects</p>
      </div>
    </section>
<section class="u-align-center u-clearfix u-section-2" id="carousel_6e0a">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
           {{#each mappedData}}
      <!-- Access the 'image' array inside each object -->
      {{#each image}}
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
            <div class="u-back-slide">
               
            
              <img class="u-back-image u-expanded" src="{{imageUrl}}" alt="{{alt}}">
            <div class="u-over-slide u-shading u-over-slide-1"></div>
            </div>
          </div>
          {{!-- <div class="u-size-30">
            <div class="u-layout-row">
              <div
                >
               <img  class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-shading u-size-60 u-image-1"
                data-image-width="1000" data-image-height="500" src="{{imageUrl}}" alt="{{alt}}">
              </div>
            </div>
          </div> --}}
 {{/each}}
    {{/each}}
        
        </div>
      </div>
    </div>
  </section>
    <section class="u-clearfix u-color-scheme-u10 u-palette-1-base u-section-3" id="sec-cbf0">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-left-cell u-size-42 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h4 class="u-text u-text-1"> Planning to renovate your home or office space... Don’t hesitate to contact us!</h4>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-18 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                  <a href="mailto:gfinteriorsekm@gmail.com?subject=Get%20A%20Quote" class="u-border-2 u-border-white u-btn u-button-style u-btn-1"> Get your quotes for free</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-image u-section-4" id="sec-2f7e" data-image-width="750" data-image-height="518">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-size-30 u-white u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <div class="u-expanded-width u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                      <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2"><span class="u-file-icon u-icon u-text-palette-1-base u-icon-1"><img src="images/ce131fa2-9b26-4c33-a9f7-aff3357242a7-36.png" alt=""></span>
                          <h5 class="u-text u-text-1">Call Us</h5>
                          <p class="u-text u-text-2">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="tel:917592085608"> +91 7592085608</a>
                          </p>
                        </div>
                      </div>
                      <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3"><span class="u-file-icon u-icon u-text-palette-1-base u-icon-2"><img src="images/3670051-34.png" alt=""></span>
                          <h5 class="u-text u-text-3">Whatsapp</h5>
                          <p class="u-text u-text-4">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2" href="https://wa.me/919995188314" target="_blank"> +91 9995188314</a>
                          </p>
                        </div>
                      </div>
                      <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4"><span class="u-file-icon u-icon u-text-palette-1-base u-icon-3"><img src="images/542689-35.png" alt=""></span>
                          <h5 class="u-text u-text-5">Email</h5>
                          <p class="u-text u-text-6">
                            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3" href="mailto:gfinteriorsekm@gmail.com"> gfinteriorsekm@gmail.com</a>
                          </p>
                        </div>
                      </div>
                      <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-4">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5"><span class="u-file-icon u-icon u-text-palette-1-base u-icon-4"><img src="images/450016-33.png" alt=""></span>
                          <h5 class="u-text u-text-7">Location</h5>
                          <p class="u-text u-text-8"> Door number: 92C/ St Rita's convent Lane, Varapuzha, Ernakulam, 683517</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-style u-grey-5 u-layout-cell u-size-30 u-layout-cell-2"
              data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
              <div
                class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-6">
                <div class="u-align-left u-form u-form-1">
                  <form action="./scripts/form-0c84-2f7e.php"
                    class="u-clearfix u-form-spacing-28 u-form-vertical u-inner-form" style="padding: 0px;"
                    source="customphp" name="form">
                    <div class="u-form-group u-form-name u-form-partition-factor-2">
                      <label for="name-5a14" class="u-form-control-hidden u-label" wfd-invisible="true">Name</label>
                      <input type="text" placeholder="Enter your Name" id="name-5a14" name="name"
                        class="u-border-none u-input u-input-rectangle" required="">
                    </div>
                    <div class="u-form-email u-form-group u-form-partition-factor-2">
                      <label for="email-5a14" class="u-form-control-hidden u-label" wfd-invisible="true">Email</label>
                      <input type="email" placeholder="Enter a valid email address" id="email-5a14" name="email"
                        class="u-border-none u-input u-input-rectangle" required="">
                    </div>
                    <div class="u-form-group u-form-message">
                      <label for="message-5a14" class="u-form-control-hidden u-label"
                        wfd-invisible="true">Message</label>
                      <textarea placeholder="" rows="4" cols="50" id="message-5a14" name="message"
                        class="u-border-none u-input u-input-rectangle" required=""></textarea>
                    </div>
                    <div class="u-form-agree u-form-group">
                      <label class="u-block-0035-45 u-field-label" style=""></label>
                      <input type="checkbox" id="agree-5f06" name="agree" class="u-agree-checkbox u-field-input"
                        required="">
                      <label for="agree-5f06" class="u-agree-label u-field-label">I accept the <a
                          class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4"
                          href="#">Terms of Service</a>
                      </label>
                    </div>
                    <div class="u-align-left u-form-group u-form-submit">
                      <a href="#"
                        class="u-active-black u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-black u-palette-3-base u-radius-50 u-btn-5">Submit</a>
                      <input type="submit" value="submit" class="u-form-control-hidden" wfd-invisible="true">
                    </div>
                    <div class="u-form-send-message u-form-send-success" wfd-invisible="true"> Thank you! Your message
                      has been sent. </div>
                    <div class="u-form-send-error u-form-send-message" wfd-invisible="true"> Unable to send your
                      message. Please fix errors then try again. </div>
                    <input type="hidden" value="" name="recaptchaResponse" wfd-invisible="true">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <footer class="u-clearfix u-footer u-grey-80" id="sec-69cd">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a
          href="https://gfinteriors.in/"
          class="u-image u-logo u-image-1"
          data-image-width="1393"
          data-image-height="925"
          title="Golden Frame"
        >
          <img
            src="images/gfinteriorslogoLettersBright.png"
            class="u-logo-image u-logo-image-1"
          />
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="SM">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Home">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/About">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Services">Services</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Gallery">Gallery</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Contact">Contact</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Blog">Login</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Home">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/About">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Services">Services</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Gallery">Gallery</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Contact">Contact</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Blog">Login</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-align-left u-text u-text-default u-text-1">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="https://phoenixpro.in/" target="_blank">Designed by Phoenix</a>
        </p>
      </div></footer>
  
</body></html>