<html>
<head>
    <meta charset="utf-8">
    <title>Site Yapım Aşamasında</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <div class="bilmm izle">
        <div class="hareket">█ █ █ <span style="color:red">█ █ █ █ █ █ █ █ █ █ </span>31%
            <br>
            <br>&gt; Under Maintenance
            <br>&gt; Under Maintenance
            <br>&gt; Under Maintenance
            <br>&gt; Under Maintenance
            <br>&gt; Under Maintenance
            <br>&gt; Under Maintenance
            <br>&gt; Under Maintenance
            <br>&gt; Under Maintenance
            <br>&gt; Under Maintenance
            <br> &gt; www.gfinteriors.in/ <span id="imlec">█</span>
        </div>
    </div>
</body>
</html>

<style>
  body {
     background: #000;
}
/* .izle {
     border:1px solid red;
}*/
 .hareket {
     color: #5dea62;
     font-family: Monaco, monospace;
     font-size: 24px;
     width: 100%;
     text-align: left;
     animation: 120ms infinite normal glitch;
}
 span {
     animation: 1.5s infinite normal imlec;
}
 ::-moz-selection {
     background: #7021d2;
     color: #fff;
}
 ::selection {
     background: #7021d2;
     color: #fff;
}
 @keyframes glitch {
     0% {
         opacity: 0;
         left: 0;
    }
     40%, 80% {
         opacity: 1;
         left: -2px;
    }
}
 @keyframes imlec {
     0% {
         opacity: 0;
         left: 0;
    }
     40% {
         opacity: 0;
         left: -2px;
    }
     80% {
         opacity: 1;
         left: -2px;
    }
}
 .bilmm {
     display:inline-block;
     position: absolute;
     top: 45%;
     left: calc(50% - 200px);
}
</style>