
    <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="3319"
        data-image-height="2250" id="sec-62e2">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h1 class="u-text u-text-default u-title u-text-1"> Office Interior Designing in Kochi</h1>
            <p class="u-large-text u-text u-text-variant u-text-2">Consult Kochi's best interior design company for the
                perfect interiors for your office.</p>
        </div>
    </section>
    <section class="u-clearfix u-image u-section-2" id="sec-f022" data-image-width="750" data-image-height="518">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-size-30 u-white u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <div class="u-expanded-width u-list u-list-1">
                                    <div class="u-repeater u-repeater-1">
                                        <div
                                            class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1">
                                            <div
                                                class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                                                <span class="u-file-icon u-icon u-text-palette-1-base u-icon-1"><img
                                                        src="images/ce131fa2-9b26-4c33-a9f7-aff3357242a7-36.png"
                                                        alt=""></span>
                                                <h5 class="u-text u-text-1">Call Us</h5>
                                                <p class="u-text u-text-2">
                                                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1"
                                                        href="tel:917592085608"> +91 7592085608</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div
                                            class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2">
                                            <div
                                                class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                                                <span class="u-file-icon u-icon u-text-palette-1-base u-icon-2"><img
                                                        src="images/3670051-34.png" alt=""></span>
                                                <h5 class="u-text u-text-3">Whatsapp</h5>
                                                <p class="u-text u-text-4">
                                                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2"
                                                        href="https://wa.me/919995188314" target="_blank"> +91
                                                        9995188314</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div
                                            class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3">
                                            <div
                                                class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
                                                <span class="u-file-icon u-icon u-text-palette-1-base u-icon-3"><img
                                                        src="images/542689-35.png" alt=""></span>
                                                <h5 class="u-text u-text-5">Email</h5>
                                                <p class="u-text u-text-6">
                                                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3"
                                                        href="mailto:gfinteriorsekm@gmail.com">
                                                        gfinteriorsekm@gmail.com</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div
                                            class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-4">
                                            <div
                                                class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                                                <span class="u-file-icon u-icon u-text-palette-1-base u-icon-4"><img
                                                        src="images/450016-33.png" alt=""></span>
                                                <h5 class="u-text u-text-7">Location</h5>
                                                <p class="u-text u-text-8"> Door number: 92C/ St Rita's convent Lane,
                                                    Varapuzha, Ernakulam, 683517</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-grey-5 u-layout-cell u-size-30 u-layout-cell-2"
                            data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                            data-animation-direction="">
                            <div
                                class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-6">
                                <div class="u-align-left u-form u-form-1">
                                    <form action="./scripts/form-5688-f022.php"
                                        class="u-clearfix u-form-spacing-28 u-form-vertical u-inner-form"
                                        style="padding: 0px;" source="customphp" name="form">
                                        <div class="u-form-group u-form-name u-form-partition-factor-2">
                                            <label for="name-5a14" class="u-form-control-hidden u-label"
                                                wfd-invisible="true">Name</label>
                                            <input type="text" placeholder="Enter your Name" id="name-5a14" name="name"
                                                class="u-border-none u-input u-input-rectangle" required="">
                                        </div>
                                        <div class="u-form-email u-form-group u-form-partition-factor-2">
                                            <label for="email-5a14" class="u-form-control-hidden u-label"
                                                wfd-invisible="true">Email</label>
                                            <input type="email" placeholder="Enter a valid email address"
                                                id="email-5a14" name="email"
                                                class="u-border-none u-input u-input-rectangle" required="">
                                        </div>
                                        <div class="u-form-group u-form-message">
                                            <label for="message-5a14" class="u-form-control-hidden u-label"
                                                wfd-invisible="true">Message</label>
                                            <textarea placeholder="" rows="4" cols="50" id="message-5a14" name="message"
                                                class="u-border-none u-input u-input-rectangle" required=""></textarea>
                                        </div>
                                        <div class="u-form-agree u-form-group">
                                            <label class="u-block-9ff0-45 u-field-label" style=""></label>
                                            <input type="checkbox" id="agree-5f06" name="agree"
                                                class="u-agree-checkbox u-field-input" required="">
                                            <label for="agree-5f06" class="u-agree-label u-field-label">I accept the <a
                                                    class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4"
                                                    href="#">Terms of Service</a>
                                            </label>
                                        </div>
                                        <div class="u-align-left u-form-group u-form-submit">
                                            <a href="#"
                                                class="u-active-black u-border-none u-btn u-btn-round u-btn-submit u-button-style u-hover-black u-palette-3-base u-radius-50 u-btn-5">Submit</a>
                                            <input type="submit" value="submit" class="u-form-control-hidden"
                                                wfd-invisible="true">
                                        </div>
                                        <div class="u-form-send-message u-form-send-success" wfd-invisible="true"> Thank
                                            you! Your message has been sent. </div>
                                        <div class="u-form-send-error u-form-send-message" wfd-invisible="true"> Unable
                                            to send your message. Please fix errors then try again. </div>
                                        <input type="hidden" value="" name="recaptchaResponse" wfd-invisible="true">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



 