{{!-- <!DOCTYPE html>
<html style="font-size: 16px" lang="en-IN">
  
 <link rel="stylesheet" href="style.css" media="screen" />
 {{!-- <link rel="stylesheet" href="nicepage.js" media="screen" /> --}}
 {{!-- <link rel="stylesheet" href="nicepage.css" media="screen" /> --}}
 {{!-- <link rel="stylesheet" href="jquery.js" media="screen" /> --}}
   
    <script
      class="u-script"
      type="text/javascript"
      src="/jquery.js"
      defer=""
    ></script>
    <script
      class="u-script"
      type="text/javascript"
      src="/nicepage.js"
      defer=""
    ></script>
    <link rel="icon" href="images/favicon.png" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link
      id="u-page-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
    />
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Golden Frames Interiors",
        "logo": "images/logo.png"
      }
    </script>
    {{!-- <meta name="theme-color" content="#ff8700" />
    <meta property="og:type" content="website" />
    <meta charset="UTF-8" /> --}}
    {{!-- <meta
      name="description"
      content="personalized Interior Design in Cochin from Golden Frame Interiors."
    /> --}}
    {{!-- <meta
      name="keywords"
      content="interior design companies in kochi, interior design company in kochi, interior design companies in ernakulam"
    /> --}}
    {{!-- <meta name="author" content="Golden Frames" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="http://gfinteriors.in/images/logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
    <meta data-intl-tel-input-cdn-path="intlTelInput/" /> --}}
  
  <body class="u-body u-xl-mode" data-lang="en">
   {{#if admin}}
	{{>admin-sidbar}}
	{{else if navside}}
	{{else}}
	{{>index-header}}
	{{/if}}
	{{{body}}}

     </body>
</html>